#section-with-bg {
    width: 100%;
    height: auto;
    min-height: 89.5vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    place-content: center;
    place-items: center;
}
